:root {
    --logo1: url("https://kilgamer-steam.github.io/kilgamer_theme/resourse/logo/discord_ahe1.jpg");
    --logo2: url("https://kilgamer-steam.github.io/kilgamer_theme/resourse/logo/discord_ahe2.jpg");
    --logo3: url("https://kilgamer-steam.github.io/kilgamer_theme/resourse/logo/discord_ahe3.jpg");
    --logo4: url("https://kilgamer-steam.github.io/kilgamer_theme/resourse/logo/discord_ahe4.gif");
}